<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css" />
    <title>cooffeezone</title>
</head>
<body>
    <header id="header" class="header" style="border: 1px solid red; padding: 0px; margin: 0px;">
        {{template "navigation.html" .}}
    </header>
    <main id="main" class="main">
        {{block "mian" .}}
            <div class="container">
            </div>
        {{end}}
    </main>
    <footer id="footer" class="footer">
        {{block "footer" .}}
        {{end}}
    </footer>
</body>
</html>
