{{block "heros" .}}
<div class="h-[450px]" id="">
  <div class="bg-hero-pattern h-[85%] bg-no-repeat bg-cover bg-center py-4">
    <div
      class="h-full m-auto p-2 flex flex-col item-center justify-center border border-orange-500 w-1/2"
    >
      <div class="">
        <h1 class="">Amazing coffee for amazing people</h1>
        <p class="">Give the gift of award-winning coffee.</p>
      </div>
      <button class="py-2 px-4 uppercase bg-white">Shop Coffee</button>
    </div>
  </div>

  <div class="bg-rose-600 h-[15%]">
    <h2>Rare coffee is here</h2>
    <button class="">Shop Rare</button>
  </div>
</div>
{{end}}
