{{block "navigation" .}}
    <nav class="nav" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <ul style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; list-style: none;">
            <li style="margin-right: 10px;"><a href="" style="text-decoration: none;">Menu</a></li>
            <li style="margin-right: 10px;"><a href="" style="text-decoration: none;">About</a></li>
            <li style="margin-right: 10px;"><a href="" style="text-decoration: none;">Products</a></li>
            <li style="margin-right: 10px;"><a href="" style="text-decoration: none;">Community</a></li>
            <li style="margin-right: 10px;"><a href="" style="text-decoration: none;">Store</a></li>
        </ul>
        <div class="nav-logo">COFFEEZONE</div>
       <div class="nav-btn">
            <button class="nav-btn_login" style="margin-right: 5px; cursor: pointer;">Login</button>
            <button class="nav-btn_signup" style="margin-right: 5px; cursor: pointer;">Signup</button>
       </div>
    </nav>
{{end}}