{{block "notification" .}}
<div class="bg-rose-500 flex justify-between items-center px-4 py-0.5 text-white text-sm font-bold border-box">
  <div class="font-thin">
    <a href="http://">
      <span>Visit Us</span>
    </a>
  </div>
  <div class="font-futura-normal text-sm">
    <a href="http://">
      <span class="underline tracking-widest">Free shipping on all orders over $50</span>
    </a>
  </div>
  <div class="text-lg">
    <i class="fa-brands fa-instagram mx-0.5 cursor-pointer"></i>
    <i class="fa-brands fa-x-twitter mx-0.5 cursor-pointer"></i>
  </div>
</div>
{{end}}