@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Futura light";
        src: url(/public/fonts/FUTURA45LIGHT.TTF) format("truetype");
    }

    @font-face {
        font-family: "Futura regular";
        src: url(/public/fonts/FUTURA55REGULAR.TTF) format("truetype");
    }

    @font-face {
        font-family: "Futura medium";
        src: url(/public/fonts/FUTURA65MEDIUM.TTF) format("truetype");
    }

    @font-face {
        font-family: "Futura bold";
        src: url(/public/fonts/FUTURA75BOLD.TTF) format("truetype");
    }
}

@layer utilities {
    .link::after {
        content: " ";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 0;
        transition: width 0.35s ease 0s;
        background-color: #000000;
        border-radius: 6px;
    }

    .link:hover::after {
        width: 100%;
    }
}